
        <!--Content Section-->
        <div id="services" class="scrollto clearfix" *ngIf="services">

          <div class="row no-padding-bottom clearfix">
                

                           <!--Content of the Right Side-->
                           <div class="col-3">
                            <div class="section-heading">
                                <h3>{{services.tagline}}</h3>
                                <h2 class="section-title">{{services.title}}</h2>
                                <p class="section-subtitle">{{services.description}}</p>
                            </div>
                            <p> SMALL, MEDIUM AND LARGE POTATO CHIPS MAKING EQUIPMENT </p>
                            <p> FRENCH FRIES MAKING EQUIPMENT </p>
                            <p>FRESH GINGER PACKING AND SLICING AND POWDER MAKING EQUIPMENT</p>
                            <p>GARLIC PEEOLING AND POWDER MAKING EQUIPMENT</p>
                            <p>PEANUT OIL, BUTTER AN TOASTING EQUIPMENT</p>
                            <p>HYDRATED VEGETABLE JUICE MAKING EQUIPMENT</p>
                            <p>PUR, ULTRA PURE AN MINERAL WATER TREATMENT, SACHET BOTTLE MAKING AND BOTTLING EQUIPMENT</p>
                            <p> MICRON AN NANO MICRON POWDER TECHNOLOGY FOR SPICES POWDER PACKING</p>
                            <p>STERILIZATION EQUIPMENT FOR NATURAL FRESH MILK, SOYA BEAN AND CASSAVA MILK</p>
                            <p>FULL TECHNICAL SERVICE IN PARTNERSHIP WITH FOREIGN MACHINERY AND EQUIPMENT BUILDERS</p>
                            <p>EGG INCUBATORS FOR CHICKEN POULTRY</p>
                            <p>STAINLESS STEEL FOOD GRADE HIGH QUALITY CRUSHER FOR WET AND DRY MILLING 
                                TECHNOLOGY FOR RICE, MILLET, CORN, BEANS ETC...
                            </p>
                            <p>FLUIDIZED AND SPRAY DRYER FOR FOOD POWDER PROCESSING TECHNOLOGY</p>
                            <p>ULTRA FILTRATION FOR OIL AND JUICE TECHNOLOGY, FOR PALM AND EDIBLE OILS. 
                                UPSTREAM AND DOWNSTREAM PROCESSING TECHNOLOGY FOR INDIVIDUAL FARMERS AND 
                                SMALL/MEDIUM SCALE REFINERIES
                            </p>
                            <p>BEES HONEY REFINING TECHOLOGY AND EUIPMENT FOR SMALL SCALE FARMERS
                            <p>VACUUM AND NITROGEN PACKING ANDSMALL MACHINERY AND TECHNOLOGY
                            </p>
                            
                            <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
                            <a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
                                WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
                            </a>
                        </div>
                        <!--End Content Right Side-->

              <!--Content of the Right Side-->
              <div class="col-3">
                  <div class="section-heading">
                      <h3>{{services.tagline}}</h3>
                      <h2 class="section-title">{{services.title}}</h2>
                      <p class="section-subtitle">{{services.description}}</p>
                  </div>
                  <p> IMPORTATION OF MACHINERY AND EQUIPMENT FROM OVERSEES</p>
                  <p> IMPORT CUSTOM'S CLEARANCE, TRANSPORTATION TO THE PROJECT'S SITE, COMMISSIONING, ASSEMBLING AND TEST RUNNING</p>
                  <p>AFTER SALES SERVICES</p>
                  <p>SPARE PARTS PROCUREMENT</p>
                  <p>TECHNICAL SURVEY OF EXISTING PLANT AND UPGRADING THEM</p>
                  <p>PRODUCTION MANAGEMENT</p>
                  <p>FACTORY'S OVERALL MANAGEMENT</p>
                  <p> PROCUREMENT OF EXPATRIATE TECHNICIANS FROM OVERSEES</p>
                  <p>TECHNICAL TRAINING OF LOCAL STAFFS</p>
                  <p>FULL TECHNICAL SERVICE IN PARTNERSHIP WITH FOREIGN MACHINERY AND EQUIPMENT BUILDERS</p>
                  <p>EPC SERVICES</p>
                  <p>BOT SERVICES</p>
                  
                  <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
                  <a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
                      WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
                  </a>
              </div>
              <!--End Content Right Side-->

              <div class="col-3">
                  <img src="assets/images/dancer.jpg" alt="Dancer"/>
              </div>

          </div>


      </div>
      <!--End of Content Section-->